header {
   display: flex;
   justify-content: space-between;
   .logo-header {
      img {
         height: 70px;
      }
   }
   .navbar-right {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 60%;

      .nav-items {
         display: flex;
         cursor: pointer;
         .items {
            font-size: 13px;
            margin: 10px 15px;
            &:hover {
               color: rgb(207, 58, 35);
            }
         }
      }
      .icon-nav {
         font-size: 30px;
         cursor: pointer;
         &:hover {
            color: rgb(207, 58, 35);
         }
      }
   }
}
